#rgb-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100vw;
}
#colors-containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-shadow: 0px 2px 3px #888888;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  min-height: 26vh;
}
#red-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #cac9c9;
}
#red-container #red-input {
  width: 75%;
  margin-top: 8px;
  height: 20px;
  background-color: #3d3a3a;
  -webkit-appearance: none;
  border-radius: 12px;
  -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, left top, right top);
  background: linear-gradient(90deg);
}
#red-container #red-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f00;
  cursor: pointer;
  border: 4px solid #333;
  -webkit-box-shadow: -407px 0 0 400px #f00;
  box-shadow: -407px 0 0 400px #f00;
}
#green-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #cac9c9;
}
#green-container #green-input {
  width: 75%;
  margin-top: 8px;
  height: 20px;
  background-color: #3d3a3a;
  -webkit-appearance: none;
  border-radius: 12px;
  -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, left top, right top);
  background: linear-gradient(90deg);
}
#green-container #green-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0f0;
  cursor: pointer;
  border: 4px solid #333;
  -webkit-box-shadow: -407px 0 0 400px #0f0;
  box-shadow: -407px 0 0 400px #0f0;
}
#blue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  color: #cac9c9;
}
#blue-container #blue-input {
  width: 75%;
  margin-top: 8px;
  height: 20px;
  background-color: #3d3a3a;
  -webkit-appearance: none;
  border-radius: 12px;
  -webkit-box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.7);
  box-shadow: inset 5px 4px 4px rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(linear, left top, right top);
  background: linear-gradient(90deg);
}
#blue-container #blue-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00f;
  cursor: pointer;
  border: 4px solid #333;
  -webkit-box-shadow: -407px 0 0 400px #00f;
  box-shadow: -407px 0 0 400px #00f;
}
#red-display,
#green-display,
#blue-display {
  background-color: rgba(255, 255, 255, 0.94);
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 7px;
  max-width: 50%;
  -webkit-box-shadow: 1px 1px 5px 1px black;
  box-shadow: 1px 1px 5px 1px black;
  color: #2d2d2d;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 8px;
}
@media (max-width: 425px) {
  #colors-containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
#colorized-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  min-height: 50vh;
  margin: 10px 0;
}
#colorized-container #colorized-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-position: center;
  border: solid 2px #a3a3a3;
  -webkit-box-shadow: 0px 0px 12px #888888;
  box-shadow: 0px 0px 12px #888888;
}
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 13vh;
}
header h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #cac9c9;
  text-shadow: 0px 0px 12px #888888;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 100%;
}
@media (max-width: 415px) {
  header h1 {
    font-size: 3rem;
  }
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 8vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 300;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #cac9c9;
}
footer a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  background-color: #191919;
  color: #fff;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  background: linear-gradient(225deg, #2e2e2e, #191919);
}
body h3 {
  font-weight: 300;
}
@media (max-width: 768px) {
  * {
    overflow-y: auto;
  }
}
