#rgb-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

#colors-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  min-height: 26vh;
}

#red-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #f00;

  #red-input {
    width: 75%;
    margin-top: 8px;
    height: 20px;
    background-color: #3d3a3a;
    -webkit-appearance: none;
    border-radius: 12px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient(90deg);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #f00;
      cursor: pointer;
      border: 4px solid #333;
      box-shadow: -407px 0 0 400px #f00;
    }
  }
}
#green-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #0f0;

  #green-input {
    width: 75%;
    margin-top: 8px;
    height: 20px;
    background-color: #3d3a3a;
    -webkit-appearance: none;
    border-radius: 12px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient(90deg);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #0f0;
      cursor: pointer;
      border: 4px solid #333;
      box-shadow: -407px 0 0 400px #0f0;
    }
  }
}
#blue-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #00f;

  #blue-input {
    width: 75%;
    margin-top: 8px;
    height: 20px;
    background-color: #3d3a3a;
    -webkit-appearance: none;
    border-radius: 12px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
    background: linear-gradient(90deg);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #00f;
      cursor: pointer;
      border: 4px solid #333;
      box-shadow: -407px 0 0 400px #00f;
    }
  }
}

#red-display,
#green-display,
#blue-display {
  background-color: rgba(230, 228, 230, 1);
  padding: 10px;
  margin-top: 15px;
  max-width: 50%;
  box-shadow: 1px 1px 5px 1px black;
  color: #2d2d2d;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  border: none;
  border-radius: 8px;
}

@media (max-width: 425px) {
  #colors-containers {
    display: flex;
    flex-direction: column;
  }
}
